body{
    padding: 25px;
    font-family: arial;
    display: grid;
    place-items: center;
  }
  
  p{
    font-size: 20px;
  }
  
  .img1{
    border: 2px solid black;
    height: 300px;
  }
  
  .img2{
    height: 5in;
    width: 5in;
    height: 300px;
  }
  
  .img3{
    border: 5px solid black;
    border-radius: 15px;
    height: 300px;
  }
  
  .img4{
    border: 5px solid black;
    border-radius: 30px 0px 30px 0px;
    height: 300px;
  }
  
  .img5{
    height: 300px;
  }
  
  .img6{
    height: 300px;
    float: right;
    margin-left:1000px;
  }
  
  .img7:hover{
    height: 300px;
  }
  
  .img8{
    box-shadow: 10px 10px;
    height: 300px;
  }
  
  .img9{
    clip-path: circle(40%);
    shape-outside: circle(45%);
    height: 300px;
  }
  
  .img10{
    clip-path: ellipse(50% 40% at 50% 50%);
    shape-outside: ellipse(50% 40% at 50% 50%);
    height: 300px;
    width: 350px;
  }
  
  .img11{
    -webkit-mask-image: url(surname.png); 
    mask-image: url(surname.png); 
}